#root {
  margin: 0;
  width: 100%
}

body {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 12pt;
}

h1 {
  font-size: 15pt;
}

h2 {
  font-size: 13pt;
}

.SpanSurrounder {
  margin-left: auto;
  margin-right: auto;
}

div {
  margin: 12px 0px;
}

span {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 170px;
  text-align: center;
  vertical-align: middle;
  overflow-wrap: break-word;
}


.TsEdit {
  width: 85px;
}

.ModulSpan {
  width: 85px;
}
