#root {
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
  font-size: 12pt;
}

h1 {
  font-size: 15pt;
}

h2 {
  font-size: 13pt;
}

.SpanSurrounder {
  margin-left: auto;
  margin-right: auto;
}

div {
  margin: 12px 0px;
}

span {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 45vw;
  text-align: center;
  vertical-align: middle;
  overflow-wrap: break-word;
}

.TsEdit {
  width: 22vw;
}

.ModulSpan {
  width: 22vw;
}

@media only screen and (min-width: 768px) {
  span {
    width: 250px;
  }

  .TsEdit {
    width: 180px;
  }
  
  .ModulSpan {
    width: 180px;
  }
}