#root {
  margin: 0;
  width: 100%
}

body {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 12pt;
}

h1 {
  font-size: 17pt;
}

div {
  margin: 12px;
}

span {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 135px;
  text-align: center;
  overflow-wrap: break-word;
}
